footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra el contenido verticalmente */
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    border-top: 1px solid black;
    color: var(--color_texto_hf);
    background-color: var(--fondo_hf);
    height: auto;
    position: fixed; /* Fija el footer en la parte inferior */
    bottom: 0; /* Asegura que el footer esté en la parte inferior */
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
    z-index: 1000; /* Asegura que el footer esté por encima de otros elementos */
}

footer #txtSimarro {
    border-bottom: 2px solid black;
    margin-top: 10px; /* Ajuste para acercar el texto */
    text-align: center;
}

footer p:hover {
    color: var(--color_texto_hf_hover);
}

.logo-container {
    display: flex;
    justify-content: center; /* Centra el logo horizontalmente */
    align-items: center;
    margin-bottom: 5px; /* Reducido para evitar empujar el texto hacia abajo */
    width: 100%;
}

.logo-container img {
    width: 450px; /* Ajustado el tamaño */
    margin-right: 15px;
}

.links {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.links a {
    text-decoration: none;
    color: var(--color_texto_hf);
    margin: 0 5px;
}

.links a:hover {
    color: var(--color_texto_hf_hover);
}

.links a:not(:last-child)::after {
    content: " | ";
    color: black;
}

/* Media Queries para hacer el footer responsive */
@media screen and (max-width: 768px) {
    footer {
        align-items: center;
        padding: 15px;
    }

    .logo-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px; /* Ajuste menor */
        text-align: center;
    }

    .logo-container img {
        width: 330px;
        margin-right: 0;
        margin-bottom: 5px; /* Menor espacio */
    }

    .links {
        flex-direction: column;
        align-items: center;
    }

    .links a {
        margin: 5px 0;
    }

    #txtSimarro {
        text-align: center;
        margin-top: 5px;
    }
}

@media screen and (max-width: 480px) {
    footer {
        padding: 10px;
    }

    .logo-container img {
        width: 300px;
    }

    .links a {
        font-size: 14px;
    }

    #txtSimarro {
        margin-top: 0; /* Asegura que el texto esté bien alineado */
    }
}