<div class="filters-container">
    
    <div id="filtros"> 
        <select class="select_user" name="usuario" >
            <option value="">User</option>
        </select>
        <input type="date"/>
        <input type="date"/>

        <input type="text" placeholder="Question"/>
        <input type="text" placeholder="Answer"/>

        <select name="chunk">
            <option value="">Chunk</option>
        </select>

        <select name="valorados">
            <option value="">Todos</option>
            <option value="sin_valorar">Sin valorar</option>
            <option value="valorados">Valorados</option>
        </select>

    </div>
</div>