.resultados-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .resultado {
    background: #ffffff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .resultado:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  }


  
  p {
    margin: 8px 0;
    color: #555;
  }
  
  p strong {
    color: #222;
  }
  
  p:nth-child(2) {
    font-weight: bold;
  }
  
  p:nth-child(3) {
    color: #4CAF50;
  }
  
  p:nth-child(4) {
    color: #F44336;
  }
  
  p:nth-child(5) {
    color: #FFA000;
  }
  
  .respuestaSi{
    color: #4CAF50;
  }

  .respuestaNo{
    color: #F44336;
  }