<div class="body">
  <div class="formulario-contenedor">
    <h1>Subir Documento</h1>
    <form [formGroup]="createForm" class="formulario-creacion">
      <label for="nombreFichero">Nombre del Documento</label>
      <input type="text" id="nombreFichero" formControlName="nombreFichero" [ngClass]="{
            'is-valid':!nombreFicheroValid,
            'is-invalid':nombreFicheroValid
          }" placeholder="Nombre" required>

      <label for="comentario">Comentario (opcional)</label>
      <textarea id="comentario" formControlName="comentario" placeholder="Comentario opcional" name="comentario"
        [ngClass]="{}"></textarea>

      <!-- Área de arrastre y clic mejorada -->
      <div class="drop-area" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)"
        (click)="triggerFileInput()">
        <p id="drop-text">{{ file?.name || "Arrastra y suelta un archivo aquí o haz clic para seleccionar" }}</p>
        <input type="file" id="file" name="file" (change)="onFileSelected($event)" hidden>
      </div>

      @if(intentoSubida && file == null){
      <p class="error-message">⚠ No se ha subido ningún archivo</p>
      }

      <div formArrayName="etiquetas">
        @for (etiqueta of IngredientsArray.controls; track $index) {
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            id="ingredient{{ $index }}"
            name="ingredient{{ $index }}"
            [formControlName]="$index"
            placeholder="ingredient"
            [ngClass]="{
              'is-valid': ingredient.valid && ingredient.touched,
              'is-invalid': ingredient.invalid && ingredient.touched
            }"
          />
          <button class="btn btn-outline-danger" >
            Borrar
          </button>
        </div>
        }
        <button class="btn btn-primary">
          Afegir Ingredient
        </button>
      </div>

      <div class="centro">
        <div class="botones">
          <button type="button" (click)="subir()" class="guardar">Subir</button>
          <button type="button" (click)="borrarArchivo()" class="borrar">Borrar</button>
        </div>
      </div>
    </form>
  </div>
</div>