<div class="main-chat-container">
    <div class="chat-messages">
      @for (pregunta of preguntas; track $index) {
        <div class="user-message">
          {{ pregunta.textoPregunta }}
        </div>
        <div class="bot-message">
          {{ pregunta.textoRespuesta }}
        </div>
      }
    </div>
    <!-- <div class="chat-input">
      <input type="text" [(ngModel)]="newMessage" placeholder="Type a message..." />
      <button (click)="sendMessage()">Send</button>
    </div> -->
  </div>