<div class="container">
  
  <form [formGroup]="documentosForm" (submit)="onSubmit()">
    <div class="form-group">
      <label for="dni">Dni</label>
      <input type="file" (change)="onFileSelected($event)" required  id="dni" formControlName="dni">
      @if (selectedFileName) {
        <p>{{selectedFileName}}</p>
      }
    </div>
    <div class="form-group">
      <label for="vidaLaboral">Vida Laboral</label>
      <input type="file" (change)="onFileSelected($event)" required  id="vidaLaboral" formControlName="vidaLaboral">
      @if (selectedFileName) {
        <p>{{selectedFileName}}</p>
      }
    </div>
    <div class="form-group">
      <label for="certificado">Certificado</label>
      <input type="file" (change)="onFileSelected($event)" required  id="certificado" formControlName="certificado">
      @if (selectedFileName) {
        <p>{{selectedFileName}}</p>
      }
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>