<div class="container">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <div class="header-container">
    <button class="boton-atras" [routerLink]="['/documentos']">
      <i class="fas fa-arrow-left"></i>
    </button>
  </div>
  <app-etiqueta-search (searchTerm)="onSearch($event)"></app-etiqueta-search>

  <!-- Botón para abrir el modal -->
  <button class="add-document-button" (click)="abrirModal()">
    + Añadir etiqueta
  </button>

  <div class="grid">
    @for (etiqueta of etiquetas; track $index) {
    <app-etiqueta-card [etiqueta]="etiqueta"></app-etiqueta-card>
    }
  </div>
</div>

<!-- Modal de Añadir Etiqueta -->
@if (mostrarModal) {
<div class="modal-overlay">
  <form class="modal" [formGroup]="formEtiqueta" (ngSubmit)="agregarEtiqueta()">
    <h2>Nueva Etiqueta</h2>
    <input
      type="text"
      formControlName="nombre"
      placeholder="Nuevo nombre"
      [ngClass]="nombreNotValid"
    />
    <div class="modal-actions">
      <button type="submit">Guardar</button>
      <button (click)="cerrarModal()">Cancelar</button>
    </div>
  </form>
</div>
}
