<nav class="nav">
  <img src="/image.png" alt="Logo" class="logo">
  <!-- Botón de menú para pantallas pequeñas -->
  <button class="menu-toggle" (click)="toggleMenu()">
    ☰
  </button>
  <div class="nav-links" [ngClass]="{'active': isMenuOpen}">
      <a [routerLink]="['/inicio']" routerLinkActive="router-link-active">Inicio</a>
      <a [routerLink]="['/asesoramiento']" routerLinkActive="router-link-active">Asesoramiento</a>
      <a [routerLink]="['/servicios']" routerLinkActive="router-link-active">Servicios</a>
      <a [routerLink]="['/contacto']" routerLinkActive="router-link-active">Contacto</a>
      <a [routerLink]="['/nosotros']" routerLinkActive="router-link-active">Nosotros</a>
      <a [routerLink]="['/login']" routerLinkActive="router-link-active">Login/SignUp</a>
  </div>
  <div class="img-section">
    <img id="imagenChatbot" src="/logoProy-removebg-preview.png" >
  </div>
</nav>
