<div class="container">
    <h1>Detalle de la Acreditación</h1>

    <div class="content">
        <div class="info-container">
            <p><strong>ID Acreditación:</strong> {{infoAcreditacion.idAcreditacion}}</p>
            <p><strong>Nombre del Módulo:</strong> {{infoAcreditacion.nombreModulo}}</p>
            <p><strong>Nombre del Usuario:</strong> {{infoAcreditacion.nombreUsuario}}</p>
            <p><strong>Nombre del Asesor:</strong> {{infoAcreditacion.nombreAsesor}}</p>
        </div>

        <div class="chat-container">
            <div class="messages">
                @for (mensaje of mensajes; track $index) {
                    @if (mensaje.idAcreditacion === idAcreditacion) {
                        <div class="message">
                            @for (Usuario of usuarios; track $index) {
                                @if (Usuario.idUsuario === mensaje.idUsuario) {
                                    <p><strong>{{Usuario.nombre}}:</strong> {{mensaje.contenido}}</p>
                                }
                            }
                        </div>
                    }
                }
            </div>

            <form [formGroup]="mensajeForm">
                <div class="message-input">
                    <input type="text" placeholder="Escribe tu mensaje aquí..." name="contenidoMensaje" formControlName="contenidoMensaje"/>
                    <button type="button" (click)="enviarMensaje('1')">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
