<div class="cuestionario-container">
  <div class="pregunta" [ngClass]="animacion">
    <p>{{ preguntas[preguntaActual]?.texto }}</p>
    <form [formGroup]="formulario">
      <ng-container *ngIf="preguntas[preguntaActual]?.tipo === 'SI_NO'">
        <button type="button" 
                (click)="seleccionarRespuesta('si')" 
                [ngClass]="{'seleccionado': obtenerRespuestaSeleccionada() === 'si'}">Sí</button>
        <button type="button" 
                (click)="seleccionarRespuesta('no')" 
                [ngClass]="{'seleccionado': obtenerRespuestaSeleccionada() === 'no'}">No</button>
      </ng-container>

      <ng-container *ngIf="preguntas[preguntaActual]?.tipo === 'RANGO1_4'">
        <button type="button" 
                (click)="seleccionarRespuesta('1')" 
                [ngClass]="{'seleccionado': obtenerRespuestaSeleccionada() === '1'}" class="rango">No sé hacerlo.</button>
        <button type="button" 
                (click)="seleccionarRespuesta('2')" 
                [ngClass]="{'seleccionado': obtenerRespuestaSeleccionada() === '2'}" class="rango">Lo puedo hacer con ayuda.</button>
        <button type="button" 
                (click)="seleccionarRespuesta('3')" 
                [ngClass]="{'seleccionado': obtenerRespuestaSeleccionada() === '3'}" class="rango">Lo puedo hacer sin necesitar ayuda.</button>
        <button type="button" 
                (click)="seleccionarRespuesta('4')" 
                [ngClass]="{'seleccionado': obtenerRespuestaSeleccionada() === '4'}" class="rango">Lo puedo hacer sin necesitar ayuda, e incluso podría formar a otro trabajador o trabajadora.</button>
      </ng-container>
    </form>
  </div>

  <div class="controles">
    <button (click)="anteriorPregunta()" [disabled]="preguntaActual === 0">Anterior</button>
    <button *ngIf="preguntaActual < preguntas.length - 1" (click)="siguientePregunta()">Siguiente</button>
    <button *ngIf="preguntaActual === preguntas.length - 1" (click)="finalizar()" class="boton-finalizar" [routerLink]="['/resultados']">Finalizar</button>
  </div>

  <div class="paginacion">
    <button *ngFor="let pregunta of preguntas; let i = index"
            [class.activa]="i === preguntaActual"
            (click)="irAPregunta(i)">
      {{ i + 1 }}
    </button>
  </div>
</div>
