.main-etiquetas{
    margin: 8px;
    background-color: var(--azul-muy-claro-2);
    padding: 16px;
    height: 87%;
    border-radius: 8px;
}

.main-etiquetas ul li{
    margin: 16px;
    list-style: none;
}

.button_orange {
    background-color: var(--resaltado);
    color: var(--white);
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    margin-right: 8px;
    width: 100%;
    margin-bottom: 10px;
}

.button_orange:hover {
    background-color: var(--resaltado_hover);
    color: var(--white);
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    margin-right: 8px;
}