
.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .button_blue {
    background-color: var(--elemento_principal);
    color: var(--white);
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    margin-right: 8px;
    margin-left: 8px;
  }
  
  .button_blue:hover {
    background-color: var(--azul-oscuro-3);
    color: var(--white);
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    margin-right: 8px;
  }

.input_buscar {
    flex-grow: 1;
    padding: 8px 16px;
    border: 1px solid var(--azul-muy-claro-1);
    border-radius: 8px;
    background-color: var(--white);
  }
  
  .dropdown-button {
    background-color: var(--elemento_principal);
  }
  
  .dropdown-button :hover {
    background-color: var(--azul-oscuro-3);
  }