<div class="container">
    <h2>Chunks del Documento</h2>

    <div class="menu-superior">
      <!-- Filtro de estado -->
      <div class="filtro-container">
        <label class="filtro-label" for="status">Filtrar por estado:</label>
        <select class="filtro-select" id="status" (change)="onStatusChange($event)">
          <option value="">TODOS</option>
          @for (estado of estados; track $index) {
            <option value={{estado}}>{{estado}}</option>
          }
        </select>
      </div>
    
      <div class="botones-container">
        <button class="boton aprobar" (click)="aprobarTo()">Aprobar Todo</button>
        <button class="boton enviar" (click)="enviarTo()">Enviar Todo</button>
      </div>
    </div>
  
    <!-- Lista de Chunks filtrados -->
    @if (filteredChunks.length > 0) {
        <app-chunk-list [chunks]="filteredChunks"></app-chunk-list>
    } @else {
        @if (mensajeError === "") {
          <p style="color: darkred;">No se encontraron chunks con el estado seleccionado.</p>
        } @else {
          <p style="color: darkred;">{{mensajeError}}</p>
        }
    }
  </div>
  @if(reiniciar){
    <app-paginacion [paginas]="paginas" (eventoHijo)="updatePagina($event)"></app-paginacion>
  }
  