<div class="container">
    <table>
        <thead>
            <tr>
                
                <th>Usuario ID</th>
                <th>Email</th>
                <th>Intentos Fallidos</th>
                <th>Bloqueado</th>
                <th>Desbloquear</th>
            </tr>
        </thead>
        <tbody>
            @for (users of usersBlock; track $index) {

                @if (users.bloqueado == true) {

                    <tr>
                        
                        <td>{{ users.usuarioId }}</td>
                        <td>{{ users.email }}</td>
                        <td>{{ users.intentosFallidos }}</td>
                        <td>{{ users.bloqueado }}</td>
                        <button (click)="desbloquear(users.usuarioId)">Desbloquear</button>


                    </tr>
                }
               
            }
        </tbody>
    </table>
</div>