<div class="body">
    <div class="formulario-contenedor">
        <h1>Formulario de edición</h1>
        <form [formGroup]="editForm" class="formulario-edicion">
            <label for="nombre">Introduce el nuevo nombre</label>
            <input 
                type="text"
                id="nombre"
                name="nombre"
                aria-describedby="nombre"
                formControlName="nombreFichero"
                [ngClass]="{
                    'is-valid': !nombreValid,
                    'is-invalid': nombreValid
                }"
                placeholder="Nombre"
                required>

            <label for="comentario">Introduce el nuevo comentario</label>
            <textarea 
                id="comentario"
                name="comentario"
                placeholder="Comentario opcional"
                formControlName="comentario"
                [ngClass]="{}">

            </textarea>

            <div class="etiquetas-container">
                <div class="etiquetas-content">
                  <div formArrayName="etiquetas">
                    @for (etiquetaCtrl of etiquetasArray.controls; track $index) {
                    <div class="etiqueta-group">
                      <select class="etiqueta-input" id="etiqueta{{ $index }}" name="etiqueta{{ $index }}"
                        [formControlName]="$index">
                        <option value="" disabled selected>Etiqueta</option>
                        @for (etiqueta of etiquetasDisponibles; track $index) {
                        <option [value]="etiqueta.id">{{ etiqueta.nombre }}</option>
                        }
                      </select>
        
                      <button type="button" class="btn-borrar" (click)="delEtiqueta($index)">
                        Borrar
                      </button>
                    </div>
                    }
                  </div>
                  <button type="button" class="btn-agregar" (click)="addEtiqueta()">
                    + Agregar Etiqueta
                  </button>
                </div>
              </div>

            <div class="centro">
                <div class="botones">
                    <button (click)="submitForm()" class="guardar">Guardar</button>
                    <button type="reset" class="borrar">Borrar</button>
                </div>
            </div>

        </form>
    </div>
</div>
    
