/* You can add global styles to this file, and also import other style files */
:root{
    --resaltado: #FF5000;
    --resaltado_hover: #E01E00;

    --titulos: #080F12;
    --texto_principal: #101E25;
    --texto_secundario: #182D38;
    --texto_terciario:#213B4A;

    --fondo_principal:#E7EEF2;
    --fondo_secundario:#FFFFFF;
    --fondo_terciario: #B8CCD7;

    --elemento_principal:#294A5D;
    --texto_elemento:#D0DDE4;

    /*En caso de necesitar mas tonalidades utilizar-->*/

    /***SOMBRAS***/
    --azul-muy-oscuro: #080F12;
    --azul-extra-oscuro: #101E25;
    --azul-oscuro-3: #182D38;
    --azul-oscuro-2: #213B4A;
    --azul-oscuro-1: #294A5D;
    --azul-medio-oscuro: #31596F;
    --azul-medio: #396882;
    /****/

    /**COLOR BASE**/
    --azul-base: #417794;
    /****/

    /***TINTES***/
    --azul-medio-claro: #5988A1;
    --azul-claro-1: #7199AF;
    --azul-claro-2: #88AABC;
    --azul-claro-3: #A0BBCA;
    --azul-muy-claro-1: #B8CCD7;
    --azul-muy-claro-2: #D0DDE4;
    --azul-muy-claro-3: #E7EEF2;
    /****/

    --white:#FFFFFF;
    --black:#000000;

}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
         url('/public/fonts/Poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
         url('/public/fonts/Poppins/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-Italic.woff2') format('woff2'),
         url('/public/fonts/Poppins/Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-BoldItalic.woff2') format('woff2'),
         url('/public/fonts/Poppins/Poppins-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-Light.woff2') format('woff2'),
         url('/public/fonts/Poppins/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-LightItalic.woff2') format('woff2'),
         url('/public/fonts/Poppins/Poppins-LightItalic.woff') format('woff');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
         url('/public/fonts/Poppins/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-SemiBoldItalic.woff2') format('woff2'),
         url('/public/fonts/Poppins/Poppins-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-Thin.woff2') format('woff2'),
         url('/public/fonts/Poppins/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-ThinItalic.woff2') format('woff2'),
         url('/public/fonts/Poppins/Poppins-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-ExtraBold.woff2') format('woff2'),
         url('/public/fonts/Poppins/Poppins-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-ExtraBoldItalic.woff2') format('woff2'),
         url('/public/fonts/Poppins/Poppins-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-Black.woff2') format('woff2'),
         url('/public/fonts/Poppins/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-BlackItalic.woff2') format('woff2'),
         url('/public/fonts/Poppins/Poppins-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
         url('/public/fonts/Poppins/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-MediumItalic.woff2') format('woff2'),
         url('/public/fonts/Poppins/Poppins-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-ExtraLight.woff2') format('woff2'),
         url('/public/fonts/Poppins/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-ExtraLightItalic.woff2') format('woff2'),
         url('/public/fonts/Poppins/Poppins-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: var(--color_fondo);
  
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src:url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src:  url('/fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-LightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-ThinItalic.woff') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-ExtraLight.wottfff') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

