/*Variables root*/
:root{
  --color_fondo: #E7EEF2;
  --fondo_hf: #B1C7D2;
  --color_button: #2d4a5b;
  --color_button_hover: #1E2B34;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: var(--color_fondo);
  
}


