/* You can add global styles to this file, and also import other style files */
:root{
    --color_fondo: #E7EEF2;
    --fondo_hf: #b1c7d2;
    --color_button: #2d4a5b;
    --color_button_hover: #1E2B34;
    --color_texto_hf:#2C4F63;
    --color_texto_hf_hover:#3F708D;
}
