<div class="container">
  <div class="main">
    <div class="sidebar">
      <button class="button_orange">+ Añadir documento</button>

      <app-etiquetas-list></app-etiquetas-list>
    </div>
    <div class="document-container">
      <app-documento-search
      (filtroAplicado)="obtenerDatosFiltrados($event)"
      ></app-documento-search>

      <div class="document-list">
        <ul>
          @for (documento of documentos; track $index) {
          <app-documento-item [documento]="documento"></app-documento-item>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
