<div class="container">
  <div class="main">
    <div class="sidebar">
      <button class="button_orange">+ Añadir documento</button>

      <app-etiquetas-list></app-etiquetas-list>
    </div>
    <div class="document-container">
      <form [formGroup]="searchForm" class="search-bar">
        <button class="button_blue">BUSCAR</button>
        <input
          type="text"
          placeholder="Escribir busqueda"
          class="input_buscar"
          formControlName="searchInput"
          name="searchInput"
        />

        <button class="button_blue dropdown-button" type="submit">
          <i class="fas fa-chevron-down"></i>
        </button>
      </form>

      <div class="document-list">
        <ul>
          <li class="documento">
            <span>nombrededocumento.pdf</span>
            <button class="documento-plus">
              <i class="fas fa-plus-circle"></i>
            </button>
          </li>
          <li class="documento">
            <span>nombrededocumento.pdf</span>
            <button class="documento-plus">
              <i class="fas fa-plus-circle"></i>
            </button>
          </li>
          <li class="documento">
            <span>nombrededocumento.pdf</span>
            <button class="documento-plus">
              <i class="fas fa-plus-circle"></i>
            </button>
          </li>
          <li class="documento">
            <span>nombrededocumento.pdf</span>
            <button class="documento-plus">
              <i class="fas fa-plus-circle"></i>
            </button>
          </li>
          <li class="documento">
            <span>nombrededocumento.pdf</span>
            <button class="documento-plus">
              <i class="fas fa-plus-circle"></i>
            </button>
          </li>
          <li class="documento">
            <span>nombrededocumento.pdf</span>
            <button class="documento-plus">
              <i class="fas fa-plus-circle"></i>
            </button>
          </li>
          <li class="documento">
            <span>nombrededocumento.pdf</span>
            <button class="documento-plus">
              <i class="fas fa-plus-circle"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
