.container {
  margin: 0 auto;
  padding: 16px;
  height: 100vh;
}

.main {
  padding: 1rem;
  margin-left: 10%;
  margin-right: 10%;
}

/*BUTTONS*/
.button-container {
  display: flex;
  gap: 10px; /* Espaciado entre botones */
  justify-content: space-between;
}

.button_orange {
  background-color: var(--resaltado);
  color: var(--white);
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  margin-right: 8px;
  width: 32.5%;
  margin-bottom: 10px;
}

.button_orange:hover {
  background-color: var(--resaltado_hover);
  color: var(--white);
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  margin-right: 8px;
}

.document-list {
  background-color: var(--white);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.document-list ul {
  list-style: none;
  padding: 0;
}