<div class="container">
    <h2>Listado de Usuarios</h2>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
            
            @for (user of users; track $index) {
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.nickname }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            }
          
        </tbody>
    </table>

    <div class="pagination">
        <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 0">Anterior</button>
        <span>Página {{ currentPage + 1 }} de {{ totalPages }}</span>
        <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage >= totalPages - 1">Sigiente</button>
    </div>
</div>

